@import "tailwindcss";
@plugin "daisyui" {
  themes:
    cupcake --default,
    dark --prefersdark;
}

.manrope-uniquifier {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
