@import "tailwindcss";
@plugin "daisyui" {
  themes:
    cupcake --default,
    dark --prefersdark;
}
.loader {
  position: relative;
  animation: flix 3s ease-in infinite alternate;
}
.loader:before {
  content: "";
  display: block;
  font-size: 0;
  width: 110px;
  height: 110px;
  background-color: #e905c3;
  background-image:
    radial-gradient(circle 12px at 22px 22px, #ffffff 100%, transparent 0),
    radial-gradient(circle 10px at 6px 40px, #ffffff 100%, transparent 0),
    radial-gradient(circle 14px at 31px -6px, #f8f6f5 100%, transparent 0),
    radial-gradient(circle 5px at 40px 30px, #faf8f8 100%, transparent 0);
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  top: 0%;
  transform: translate(-50%, -100%);
  left: 50%;
  width: 54px;
  height: 32px;
  background: #168d43;
  border-radius: 50px 50px 0 0;
}

@keyframes flix {
  0%,
  60% {
    transform: rotate(-10deg);
  }
  100%,
  30%,
  80% {
    transform: rotate(5deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
